/* CSS external for Head to Head */
/* Justin Lu */


/* General formatting */
html {
    font-size: 10px;
  }
label {
    font-family: 'Lato' , sans-serif;
    font-size: 1.4rem;
    padding-right: 10px;
}
footer {
    margin-top:5px;
    font-family: 'Lato' , sans-serif;
    text-align:center;
}
h1 {
    font-family: 'Lato' , sans-serif;
    font-size: 5rem;
    margin: 60px 0;
    text-align:center;
    color:rgb(0, 122, 204);
    font-size:650%;
}
body{
    width: 1000px;
    margin: 0 auto;
}
.team {
    font-family: 'Lato' , sans-serif;
    font-size: 2rem;
}


/* custom sizing / formatting */
.box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
  }
.container {
    display: grid;
    grid-template-columns: 500px 500px 
}
.custom {
    font-family: 'Lato' , sans-serif;
    font-size: 1.4rem;
}


/* UI / (input) related formatting */
select {
    font-family: 'Lato' , sans-serif;
    font-size: 1.4rem;
    padding: 2px 5px;
}
.dropdown {
    margin: 30px 0;
}
input {
    -webkit-appearance: none; 
    appearance: none;
}
input[type=submit]{
    font-family: 'Lato' , sans-serif;
    border: none;
    padding: 12px 18px;
    text-decoration: none;
    cursor: pointer;
}
.buttContainer { 
    height: 200px;
    position: relative;
}
.buttCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

